@model DDD_2024.Models.DinCreateViewModel
@inject IHttpContextAccessor contxt;
@inject DDD_2024.Interfaces.IEmployeeService EmployeeService
@inject DDD_2024.Interfaces.ICusVendorService CusVendoeService

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯</h1>

<div class="accordion" id="accordionFunction">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFunOne" aria-expanded="true" aria-controls="collapseOne">
                功能鍵
            </button>
        </h2>
        <div id="collapseFunOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFunction">
            <div class="accordion-body">
                <div class="row" style="margin-top:6px">
                    <div class="col-md-8">
                    </div>
                </div>
                @if (contxt.HttpContext != null)
                {
                    var empName = contxt.HttpContext.Session.GetString("EmpName");
                    if (!string.IsNullOrEmpty(empName))
                    {
                        <div class="row" style="margin-top: 6px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <label>login User: </label>
                                <input value="@empName" type="text" placeholder="系統使用者" readonly style="border: none;" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <input asp-for="ProjectID" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">申請日期</label>
                <input asp-for="DinDate" class="form-control"/>
                <span asp-validation-for="DinDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CusName" class="control-label"></label>
                <input asp-for="CusName" class="form-control" readonly/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EndCus" class="control-label"></label>
                <input asp-for="EndCus" class="form-control" />
                <span asp-validation-for="EndCus" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PartNo" class="control-label"></label>
                <input asp-for="PartNo" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProApp" class="control-label"></label>
                <input asp-for="ProApp" class="form-control"/>
                <span asp-validation-for="ProApp" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProModel" class="control-label"></label>
                <input asp-for="ProModel" class="form-control" />
                <span asp-validation-for="ProModel" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">預估量產時間(格式:2024Q2)</label>
                <input asp-for="EProduceYS" class="form-control" />
                <span asp-validation-for="EProduceYS" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ELTR" class="control-label"></label>
                <input asp-for="ELTR" type="number" class="form-control"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EGP" class="control-label"></label>
                <input asp-for="EGP" type="number" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="LTP" class="control-label"></label>
                <input asp-for="LTP" class="form-control" readonly/>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EFirstYQty" class="control-label"></label>
                <input asp-for="EFirstYQty" type="number" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UFirstYPrice" class="control-label"></label>
                <input asp-for="UFirstYPrice" type="number" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ESecondYQty" class="control-label"></label>
                <input asp-for="ESecondYQty" type="number" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="USecondYPrice" class="control-label"></label>
                <input asp-for="USecondYPrice" type="number" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="EThirdYQty" class="control-label"></label>
                <input asp-for="EThirdYQty" type="number" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UThirdYPrice" class="control-label"></label>
                <input asp-for="UThirdYPrice" type="number" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PM_EmpName" class="control-label"></label>
                <select asp-for="PMID"
                        asp-items="EmployeeService.GetPMList_Selected(Model.PMID)"
                        class="form-control">
                </select>
                <span asp-validation-for="PMID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Sales_EmpName" class="control-label"></label>
                <select asp-for="SalesID"
                        asp-items="EmployeeService.GetSalesList_Selected(Model.SalesID)"
                        class="form-control">
                </select>
                <span asp-validation-for="SalesID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FAE1_EmpName" class="control-label"></label>
                <select asp-for="FAE1ID"
                        asp-items="EmployeeService.GetFAEList_Selected(Model.FAE1ID)"
                        class="form-control">
                </select>
                <span asp-validation-for="FAE1ID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FAE2_EmpName" class="control-label"></label>
                <select asp-for="FAE2ID"
                        asp-items="EmployeeService.GetFAEList_Selected(Model.FAE2ID)"
                        class="form-control">
                </select>
                <span asp-validation-for="FAE2ID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FAE3_EmpName" class="control-label"></label>
                <select asp-for="FAE3ID"
                        asp-items="EmployeeService.GetFAEList_Selected(Model.FAE3ID)"
                        class="form-control">
                </select>
                <span asp-validation-for="FAE3ID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="確認送出" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-secondary">返回清單</a>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
