@model DDD_2024.Models.DoViewModel
@inject DDD_2024.Interfaces.IEmployeeService EmployeeService
@inject DDD_2024.Interfaces.ICusVendoeService CusVendoeService

@{
    ViewData["Title"] = "Create";
}

<h1>Do建立</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" type="date" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cus_DB" class="control-label"></label>
                <select asp-for="Cus_DB" asp-items="CusVendoeService.DBSource" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="CusID" class="control-label"></label>
                <input type="text" id="searchCusInput" class="form-control" placeholder="搜尋客戶..."><br />
                <select asp-for="CusID" asp-items="CusVendoeService.GetCusItem_Intetek()" class="form-control" id="cusSelect"></select>
            </div>
            <div class="form-group">
                <label asp-for="VendorID" class="control-label"></label>
                <input type="text" id="searchVendorInput" class="form-control" placeholder="搜尋原廠..."><br />
                <select id="vendorSelect" asp-for="VendorID" class="form-control" asp-items="@(await CusVendoeService.Ascendvendor_SelectList())"></select>
            </div>
            <div class="form-group">
                <label asp-for="PartNo" class="control-label"></label>
                <input asp-for="PartNo" class="form-control" />
                <span asp-validation-for="PartNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProApp" class="control-label"></label>
                <input asp-for="ProApp" class="form-control" />
                <span asp-validation-for="ProApp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicantName" class="control-label"></label>
                <select asp-for="ApplicantName" asp-items="EmployeeService.GetEmployeeNameList" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="確認建立" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回清單</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    const searchCusInput = document.getElementById('searchCusInput');
    const cusSelect = document.getElementById('cusSelect');
    const searchVendorInput = document.getElementById('searchVendorInput');
    const vendorSelect = document.getElementById('vendorSelect');

    searchCusInput.addEventListener('input', function () {
        const searchCusText = searchCusInput.value.toLowerCase();
        Array.from(cusSelect.options).forEach(option => {
            const optionCusText = option.text.toLowerCase();
            option.style.display = optionCusText.includes(searchCusText) ? 'block' : 'none';
        });
    });

    searchVendorInput.addEventListener('input', function () {
        const searchVendorText = searchVendorInput.value.toLowerCase();
        Array.from(vendorSelect.options).forEach(option => {
            const optionVendorText = option.text.toLowerCase();
            option.style.display = optionVendorText.includes(searchVendorText) ? 'block' : 'none';
        });
    });
</script>