@model DDD_2024.Models.DoViewModel
@inject IHttpContextAccessor contxt;

@{
    ViewData["Title"] = "Details";
}

<h1>詳細資料</h1>

<div class="accordion" id="accordionFunction">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFunOne" aria-expanded="true" aria-controls="collapseOne">
                功能鍵
            </button>
        </h2>
        <div id="collapseFunOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFunction">
            <div class="accordion-body">
                @if (Model.DOStatus == "N")
                {
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-2">
                            <button id="btn_agree" class="btn btn-warning">審核同意</button>
                        </div>
                        <div class="col-md-2">
                            <button id="btn_disagree" class="btn btn-warning">審核不同意</button>
                        </div>
                    </div>
                }
                @if (Model.DOStatus == "C" || Model.DOStatus == "X" || Model.DOStatus == "F")
                {
                    <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                            <a asp-controller="Din" asp-action="Create" asp-route-projectID="@Model?.ProjectID" class="btn btn-warning">轉Din</a>
                        </div>
                    </div>
                }

                @if (contxt.HttpContext != null)
                {
                    var empName = contxt.HttpContext.Session.GetString("EmpName");
                    if (!string.IsNullOrEmpty(empName))
                    {
                        <div class="row" style="margin-top: 6px">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <label>login User: </label>
                                <input value="@empName" type="text" placeholder="系統使用者" readonly style="border: none;" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:6px">
    <div class="col-md-12">
        <input type="hidden" asp-for="DOStatus" />
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ProjectID" class="control-label"></label>
            <input asp-for="ProjectID" id="str_doID" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="vmCreateDate" class="control-label">申請日期</label>
            <input asp-for="vmCreateDate" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="CusName" class="control-label"></label>
            <input asp-for="CusName" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="VendorName" class="control-label"></label>
            <input asp-for="VendorName" id="str_doID" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="PartNo" class="control-label"></label>
            <input asp-for="PartNo" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="ProApp" class="control-label"></label>
            <input asp-for="ProApp" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Applicant" class="control-label"></label>
            <input asp-for="Applicant" id="str_doID" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Approver" class="control-label"></label>
            <input asp-for="Approver" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="TradeStatus" class="control-label"></label>
            <input asp-for="TradeStatus" class="form-control" readonly />
        </div>
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="StatusName" class="control-label"></label>
                <input asp-for="StatusName" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="col-md-8">
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="DoUDate" class="control-label"></label>
                <input asp-for="DoUDate" class="form-control" readonly />
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="DoUAction" class="control-label"></label>
                <textarea asp-for="DoUAction" rows="8" cols="42" readonly><</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="DoUStatus" class="control-label"></label>
            <textarea asp-for="DoUStatus" rows="8" cols="42" readonly><</textarea>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-6">
        <a asp-action="Edit" asp-route-ProjectID="@Model?.ProjectID" class="btn btn-secondary">編輯</a>
        <a asp-action="Index" class="btn btn-secondary">返回清單</a>
        <a asp-action="DoASCreate" asp-route-DoID="@Model.DoID" class="btn btn-warning">新增Do進度</a>
        <a asp-action="DoASIndex" asp-route-DoID="@Model.DoID" class="btn btn-warning">查看Do歷史進度</a>
    </div>
    <div class="col-md-6">
    </div>
</div>
<script>
    var btn_agree = document.getElementById('btn_agree');
    var btn_disagree = document.getElementById('btn_disagree');
    var btn_transDin = document.getElementById('btn_transDin');

    if (btn_agree) {
        btn_agree.addEventListener('click', function () {
            var doId = document.getElementById("str_doID").value;

            fetch('/Do/ConfirmDO', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(doId)
            })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    }
    if (btn_disagree) {
        document.getElementById('btn_disagree').addEventListener('click', function () {
            var doId = document.getElementById("str_doID").value;

            fetch('/Do/RejectDO', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(doId)
            })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    }

    if (btn_transDin) {
        document.getElementById('btn_transDin').addEventListener('click', function () {
            var doId = document.getElementById("str_doID").value;

            fetch('/Do/TransDin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(doId)
            })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    }
</script>