@model DDD_2024.Models.DoViewModel
@inject IHttpContextAccessor contxt;
@inject DDD_2024.Interfaces.IEmployeeService EmployeeService
@inject DDD_2024.Interfaces.ICusVendorService CusVendoeService
@inject DDD_2024.Interfaces.IDoService DoService

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-12">
            <input type="hidden" asp-for="DoID" />
        </div>
    </div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <input asp-for="ProjectID" class="form-control" readonly />
            </div>
    </div>
    <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">申請日期</label>
                <input asp-for="CreateDate" class="form-control" type="date" value="@Model.CreateDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
    </div>
    <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CusName" class="control-label"></label>
                <input asp-for="CusName" class="form-control" readonly />
            </div>
    </div>
</div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PartNo" class="control-label"></label>
                <input asp-for="PartNo" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProApp" class="control-label"></label>
                <input asp-for="ProApp" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Applicant" class="control-label"></label>
                <select asp-for="ApplicantID"
                        asp-items="EmployeeService.GetEmployeeNameList_Selected(Model.ApplicantID)"
                        class="form-control">
                </select>
                <span asp-validation-for="ApplicantID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Approver" class="control-label"></label>
                <select asp-for="ApproverID"
                        asp-items="EmployeeService.GetEmployeeNameList_Selected(Model.ApproverID)"
                        class="form-control">
                </select>
                <span asp-validation-for="ApplicantID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TradeStatus" class="control-label"></label>
                <select asp-for="TradeStatus" asp-items="DoService.GetTradingStatus()" class="form-control"></select>
                <span asp-validation-for="TradeStatus" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="DoUDate" class="control-label"></label>
                    <input asp-for="DoUDate" class="form-control" readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="DoUAction" class="control-label"></label>
                    <textarea asp-for="DoUAction" rows="8" cols="42" readonly><</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DoUStatus" class="control-label"></label>
                <textarea asp-for="DoUStatus" rows="8" cols="42" readonly><</textarea>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" style="margin-top:6px">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="確認送出" class="btn btn-secondary" />
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</form>
<div class="row" style="margin-top:6px">
    <div class="col-md-3">
        <a asp-action="DoASCreate" asp-route-DoID="@Model.DoID" class="btn btn-warning">新增Do進度</a>
        <a asp-action="DoASIndex" asp-route-DoID="@Model.DoID" class="btn btn-warning">查看Do歷史進度</a>
    </div>
    <div class="col-md-9">
    </div>
</div>

<div>
    <a asp-action="DoASIndex">返回清單</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
