@model DDD_2024.Models.DDD_DoM
@inject DDD_2024.Interfaces.IEmployeeService EmployeeService

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DDD_DoM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartNo" class="control-label"></label>
                <input asp-for="PartNo" class="form-control" />
                <span asp-validation-for="PartNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusName_CN" class="control-label"></label>
                <input asp-for="CusName_CN" class="form-control" />
                <span asp-validation-for="CusName_CN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusName_EN" class="control-label"></label>
                <input asp-for="CusName_EN" class="form-control" />
                <span asp-validation-for="CusName_EN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProApplication" class="control-label"></label>
                <input asp-for="ProApplication" class="form-control" />
                <span asp-validation-for="ProApplication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectNoted" class="control-label"></label>
                <input asp-for="ProjectNoted" class="form-control" />
                <span asp-validation-for="ProjectNoted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectAction" class="control-label"></label>
                <input asp-for="ProjectAction" class="form-control" />
                <span asp-validation-for="ProjectAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" readonly/>
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Applicant" class="control-label"></label>
                <select asp-for="Applicant" asp-items="EmployeeService.GetEmployeeNameList" class="form-control"></select>
                <span asp-validation-for="Applicant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approver" class="control-label"></label>
                <select asp-for="Approver" asp-items="EmployeeService.GetEmployeeNameList" class="form-control"></select>
                <span asp-validation-for="Approver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproveDate" class="control-label"></label>
                <input asp-for="ApproveDate" class="form-control" />
                <span asp-validation-for="ApproveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
