@model DDD_2024.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>員工資料</h1>

<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="employee.EmpName" class="control-label"></label>
            <input asp-for="employee.EmpName" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="OnDuty_CN" class="control-label"></label>
            <input asp-for="OnDuty_CN" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="employee.Region" class="control-label"></label>
            <input asp-for="employee.Region" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="employee.UpdateDate" class="control-label"></label>
            <input asp-for="employee.UpdateDate" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row" style="margin-top:6px">
    <div class="col-md-4">
        <a asp-action="Edit" asp-route-id="@Model?.employee.EmpID" class="btn btn-primary">編輯</a>
        <a asp-action="Index" class="btn btn-warning">返回清單</a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
