@model IEnumerable<DDD_2024.Models.WD2SU01>

<table class="table" id="tableCusVendor">
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SU01001)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SU01003)
                </td>
            </tr>
        }
    </tbody>
</table>